body {

    font-family: Arial,Helvetica sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    max-width: 1200px; margin:auto;
}

header {
    background-color: #1e88e5;
    color: white;
    min-height: 70px;
    display: flex; justify-content: space-between; 
    padding: 0 20px ;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

a {
    color: #1e88e5;
    text-decoration: none;
    font-weight:600;
    transition: color 0.3s ease;
}

footer {
    background-color: #333;
    color: eee;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    bottom: 0;
}

.secciones {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

#estilos {
    background-color: #20335a;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}